- thumb_width, thumb_height = Asset.thumbnail_sizes[:thumbnail].first.split(/\D/)
- min_weight = @ad_banner.new_record? ? 1 : 0
- unless @ad_banner.new_record?
  %p
    != t('ad_banner_form.instructions.change')
  %p
    != t('ad_banner_form.instructions.disable')
- form_for [:admin, @ad_banner] do |f|
  .form-area
    #ad_banner_form_area
      #ad_banner-data
        %p.title
          %label{:for => 'ad_banner_name'}
            = t('ad_banner_form.label.name')
          = f.text_field :name, :class => 'textbox', :maxlength => 255
        %p.title
          %label{:for => 'ad_banner_asset_id'}
            = t('ad_banner_form.label.thumbnail')
          %span#image-thumbnail{ :style => "width:#{thumb_width}px;height:#{thumb_height}px;" }
            - if @ad_banner.asset.nil?
              %span.note
                = t('ad_banner_form.label.drag')
            - else
              = image_tag(@ad_banner.asset.thumbnail(:thumbnail))
          = f.hidden_field :asset_id
        %p.title
          %label{:for => 'ad_banner_link_url'}
            = t('ad_banner_form.label.url')
          = f.text_field :link_url, :class => 'textbox', :maxlength => 255
        %p.title
          %label{:for => 'ad_banner_weight'}
            = t('ad_banner_form.label.weight')
            %span.note
              = t('ad_banner_form.label.weight_note')
          = f.select :weight, (min_weight..10).to_a
        %p.title
          %label{:for => 'ad_banner_link_target'}
            = t('ad_banner_form.label.target')
          = f.select :link_target, [ [ t('ad_banner_form.targets.default'), '' ], [ t('ad_banner_form.targets.new'), '_blank' ], [ t('ad_banner_form.targets.same'), '_top' ] ]
  = javascript_tag "$('ad_banner_name').activate()"
  %p.buttons
    = save_model_button(@ad_banner)
    = save_model_and_continue_editing_button(@ad_banner)
    = t('or')
    = link_to(t('cancel'), admin_ad_banners_url)
